# macOS
.DS_Store

# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc

# VSCode settings, Python virtual envs, etc.
.vscode/
*.log
.env.*
.venv/

# Github
.github/
.git/

# API Keys
deploy/api/gemini_api_key.txt
gemini_api_key.txt
